.height-838 {
    height: 838px;
}

.height-655 {
    height: 655px;
}

.height-784 {
    height: 784px;
}

.height-897 {
    height: 898px;
}

.height-449 {
    height: 449px;
}

.height-1083 {
    height: 1083px;
}

.height-384 {
    height: 384px;
}

.height-445 {
    height: 490px;
    color: #ffffff;
    background-color: #32064a;
}

.height-143 {
    height: 143px;
}

.background-image-primeira-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/89931755f22655c68b493f13/pexelsphoto1145720.jpeg);
    background-position: center;
    background-size: cover;
}

.div-espacamento-da-primeira-section {
    width: 718px;
    margin: 350px 0 85px auto;
    text-align: right;
    color: #ffffff;
}

.div-espacamento-da-primeira-section h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 55px 20px 0;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.1;
    font-family: Roboto,sans-serif;
}

.div-espacamento-da-primeira-section h1 {
    margin: 0 20px;
    font-size: 6rem;
    line-height: 1.1;
    margin-top: 20px;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.div-espacamento-da-primeira-section h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.125rem;
    margin: 20px 204px 0 30px;
    font-weight: 400;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    text-align: left;
}

.div-espacamento-da-primeira-section div {
    width: 165px;
    height: 20px;
    transform-origin: right center 0;
    margin: 30px auto 30px 30px;
    border-color: #fcd02c;
    border-width: 10px;
    border-style: solid;
}

.background-color-amarelo {
    background-color: #fcd02c;
}

.padding-left-right {
    padding-left: 80px;
    padding-right: 20px;
}

.padding-left-right img {
    width: 310px;
    height: 237px;
    margin: 112px auto 0 -50px;
}

.padding-left-right h2 {
    margin: -38px -30px 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.padding-left-right p {
    margin: 20px 0 20px;
    margin-left: -25px;
}

.padding-left-right a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    margin: 20px auto 65px 0;
    color: #ffffff !important;
    background-color: #e42c6a !important;
    text-decoration: none;
    padding: 10px;
    margin-left: -25px;
}

.background-image-segunda-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/55f47ec2a2835d078bbb01d6/pexelsphoto1600539.jpeg);
    background-position: center;
    background-size: cover;
}

.background-color {
    color: #ffffff;
    background-color: #32064a;
}

.padding-left-20px-right-96px {
    padding-left: 20px;
    padding-right: 96px;
}

.padding-left-20px-right-96px h2 {
    margin: 65px 0 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
    width: 383px;
}

.padding-left-20px-right-96px p {
    margin: 20px 0 30px;
}

.padding-left-20px-right-96px img {
    width: 352px;
    height: 237px;
    margin: 24px -60px 0 auto;
}

.padding-left-20px-right-96px a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    margin: 20px auto 65px 0;
    color: #ffffff !important;
    background-color: #e42c6a !important;
    text-decoration: none;
    padding: 10px;
}

.background-image-terceira-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/6b75f87ec0f656a6814d2f35/pexelsphoto1319828.jpeg);
    background-position: center;
    background-size: cover;
}

.background-color-salmao {
    color: #ffffff;
    background-color: #e42c6a;
}

.div-espacamento-terceira-section {
    padding-left: 25px;
    width: 400px;
    padding-top: 65px;
}

.div-espacamento-terceira-section span {
    height: 64px;
    width: 64px;
    margin: 29px auto 0 0;
    padding: 15px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    font-size: 25px;
}

.div-espacamento-terceira-section h2 {
    margin: 20px 19px 30px 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.div-espacamento-terceira-section a {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 40px auto 60px 0;
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #32064a !important;
    padding: 10px;
}

.div-opacity-1 {
    color: white;
    background-color: #f5f7fa;
    background-color: transparent !important;
    opacity: 1;
}

.padding-left-42px {
    padding-left: 42px;
    padding-top: 115px;
}

.padding-left-42px span {
    height: 40px;
    width: 40px;
    margin: 120px auto 0 0;
    font-size: 30px;
}

.padding-left-42px h4 {
    margin: 20px 20px 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Roboto,sans-serif;
}

.padding-left-42px p {
    font-size: 0.875rem;
    margin: 20px 69px 0 0;
}

.background-image-col-da-quarta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/39155eed0c18560793cea066/pexelsphoto1516654.jpeg);
    background-position: center;
    background-size: cover;
}

.background-image-2-col-da-quarta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/4cded4bd68695a288b23a5b9/pexelsphoto982104.jpeg);
    background-position: center;
    background-size: cover;
}

.background-image-3-col-da-quarta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/5284d8199c565039b3733c9c/pexelsphoto1649771.jpeg);
    background-position: center;
    background-size: cover;
}

.background-image-4-col-da-quarta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/970978c4157851f6ab9d9cf6/pexelsphoto1050310.jpeg);
    background-position: center;
    background-size: cover;
}

.background-color-col-da-quarta-section {
    color: #ffffff;
    background-color: #32064a;
    text-align: right;
}

.background-color-col-da-quarta-section span {
    height: 64px;
    width: 64px;
    margin: 164px 84px 0 auto;
    padding: 10px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    font-size: 25px;
}

.background-color-col-da-quarta-section img {
    width: 335px;
    height: 237px;
    margin: 217px auto 0 29px;
    object-fit: contain;
    position: relative;
    opacity: 0.15;
    margin-right: 60px;
}

.background-color-col-da-quarta-section h2 {
    margin: -433px 84px 25px 29px;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
    word-wrap: break-word;
}

.background-color-col-da-quarta-section a {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 18px 84px 218px auto;
    color: #ffffff;
    background-color: #e42c6a;
    padding: 12px;
    text-decoration: none;
}

.margin-top-165px {
    margin-top: 165px;
}

.background-color-amarelo-quinta-section {
    background-color: #fcd02c;
}

.padding-left-82px-right-20px {
    padding-left: 82px;
    padding-right: 20px;
}

.padding-left-82px-right-20px h2 {
    margin: 249px 0 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.padding-left-82px-right-20px img {
    width: 520px;
    height: 300px;
    margin: 46px auto 0 0;
}

.padding-left-82px-right-20px p {
    margin: 24px 0 30px;
}

.padding-left-82px-right-20px a {
    background-color: #32064a;
    color: #ffffff;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 110px 0;
    padding: 12px;
    text-decoration: none;
}

.div-height-699px {
    height: 699px;
    padding-left: 20px;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
}

.div-height-699px span {
    height: 64px;
    width: 64px;
    margin: 200px auto 0 0;
    padding: 10px;
    color: #32064a !important;
    border-color: #32064a;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 19px;
    padding-top: 8px;
}

.div-height-699px h2 {
    margin: 40px 140px 0 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.div-height-699px p {
    margin: 20px 150px 0 0;
}

.div-height-699px a {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 26px 522px 218px auto;
    color: #ffffff;
    background-color: #e42c6a;
    padding: 12px;
    text-decoration: none;
}

.background-image-col-da-quinta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/54cc025631205c3b85b9cfee/pexelsphoto1170831.jpeg);
    background-position: center;
    background-size: cover;
}

.background-image-2-col-da-quinta-section {
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/e2b9a13e26525fa4a05569e2/pexelsphoto1598505.jpeg);
    background-position: center;
    background-size: cover;
}

.padding-left-20px-right-20px {
    padding-left: 20px;
    padding-right: 20px;
    display: flex !important;
    flex-direction: column;
}

.padding-left-20px-right-20px h2 {
    margin: 70px 0 0;
    font-size: 2.8rem;
    line-height: 1.1;
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

.padding-left-20px-right-20px p {
    margin: 20px 0 0;
    line-height: 28px;
}

.padding-left-20px-right-20px div {
    height: 26px;
    min-height: 16px;
    width: 170px;
    min-width: 120px;
    margin: 20px auto 40px 0;
    display: flex;
}

.padding-left-20px-right-20px a {
    color: #e42c6a !important;
    font-size: 23px;
    margin-right: 15px;
}

.widht-504px {
    width: 504px;
    margin: 60px auto;
}

.widht-504px input {
    border-color: #ffffff;
    border-width: 1px;
    color: #ffffff;
    border-style: solid;
    background-color: transparent;
    width: 100%;
    padding: 10px 12px;
}

.widht-504px textarea {
    border-color: #ffffff;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 35px;
}

.height-3 {
    height: 3em;
}

.height-8 {
    height: 8em !important;
}

.botao {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: #111111 !important;
    background-color: #fcd02c !important;
    padding: 10px;
    text-decoration: none;
}

.botao:hover {
    color: white !important;
}

.background-color-cinza {
    color: #ffffff;
    background-color: #333333;
}

.margin-left-380 {
    margin-left: 380px;
    margin-top: 60px;
    display: flex;
}

.tag-p-footer {
    width: 417px;
    margin: 49px auto;
    font-size: 0.875rem;
}

.tag-a-footer {
    text-decoration: underline;
    color: #a3e1f1;
    display: inline-block;
    transition: all .5s;
    margin-right: 5px;
}

.tag-a-footer:hover {
    color: gray;
    text-decoration: none !important;
}

.tag-a-footer span {
    font-size: 0.8rem;
}

.tag-p-footer-2 span {
    font-size: 0.8rem;
}

.tag-p-footer-2 {
    margin-right: 5px;
}



/* Responsivo */

@media (max-width: 320px) { 
    .div-espacamento-da-primeira-section {
        width: 272px;
        margin: 175px 0 85px auto;
        text-align: right;
        color: #ffffff;
    }

    .div-espacamento-da-primeira-section h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 55px 0px 0;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.1;
        font-family: Roboto,sans-serif;
    }

    .div-espacamento-da-primeira-section h1 {
        margin: 0 20px;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-espacamento-da-primeira-section h4 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1rem;
        margin: 20px 0px 0 5px;
        font-weight: 400;
        line-height: 1.2;
        font-family: Roboto,sans-serif;
        text-align: left;
    }

    .div-espacamento-da-primeira-section div {
        width: 165px;
        height: 20px;
        transform-origin: right center 0;
        margin: 30px auto 30px 6px;
        border-color: #fcd02c;
        border-width: 10px;
        border-style: solid;
    }

    .height-838 {
    height: 630px;
    }

    .padding-left-right {
        padding-left: 65px;
        padding-right: 20px;
    }

    .padding-left-right img {
        width: 260px;
        height: 237px;
        margin: 75px auto 0 -50px;
    }

    .padding-left-right h2 {
        margin: -38px -50px 0;
        font-size: 2.3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 264px;
    }

    .padding-left-right p {
        margin: 20px 0 30px;
        margin-left: -45px;
    }

    .padding-left-right a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.875rem;
        margin: 20px auto 65px 0;
        color: #ffffff !important;
        background-color: #e42c6a !important;
        text-decoration: none;
        padding: 10px;
        margin-left: -45px;
    }

    .background-color-amarelo {
        background-color: #fcd02c;
        height: 620px;
    }

    .background-image-segunda-section {
        height: 620px;
    }

    .padding-left-20px-right-96px img {
        width: 250px;
        height: 220px;
        margin: 45px -70px 0 auto;
    }

    .padding-left-20px-right-96px h2 {
        margin: 65px 0 0;
        font-size: 2rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 256px;
    }

    .padding-left-20px-right-96px p {
        margin: 20px 0 30px;
        width: 260px;
    }

    .background-color {
        color: #ffffff;
        background-color: #32064a;
        height: 665px;
    }

    .height-655 {
        height: 1905px;
    }

    .div-espacamento-terceira-section {
        padding-left: 25px;
        width: 295px;
        padding-top: 65px;
    }

    .div-espacamento-terceira-section h2 {
        margin: 20px 19px 30px 0;
        font-size: 1.8rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .background-color-salmao {
        color: #ffffff;
        background-color: #e42c6a;
        height: 445px;
    }

    .background-image-terceira-section {
        height: 1500px;
    }

    .height-784 {
        height: 1250px;
    }

    .height-449 {
        height: 530px;
    }

    .margin-top-165px {
        margin-top: 90px;
    }

    .background-color-col-da-quarta-section span {
        height: 64px;
        width: 64px;
        margin: 164px 45px 0 auto;
        padding: 10px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 25px;
    }

    .background-color-col-da-quarta-section {
        color: #ffffff;
        background-color: #32064a;
        text-align: right;
        height: 680px;
    }

    .background-color-col-da-quarta-section img {
        width: 219px;
        height: 237px;
        margin: 217px auto 0 29px;
        object-fit: contain;
        position: relative;
        opacity: 0.15;
        margin-right: 60px;
    }

    .background-color-col-da-quarta-section h2 {
        margin: -433px 40px 25px 29px;
        font-size: 2.6rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .background-color-col-da-quarta-section a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 18px 40px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .height-897 {
        height: 1740px;
    }

    .padding-left-82px-right-20px {
        padding-left: 15px;
        padding-right: 20px;
    }

    .padding-left-82px-right-20px h2 {
        margin: 75px 0 0;
        font-size: 2.2rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .padding-left-82px-right-20px img {
        width: 305px;
        height: 245px;
        margin: 46px auto 0 -21px;
    }

    .background-color-amarelo-quinta-section {
        background-color: #fcd02c;
        height: 755px;
    }

    .div-height-699px span {
        height: 64px;
        width: 64px;
        margin: 180px auto 0 0;
        padding: 10px;
        color: #32064a !important;
        border-color: #32064a;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 30px;
        padding-left: 19px;
        padding-top: 8px;
    }

    .div-height-699px {
        height: 605px;
        padding-left: 8px;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .div-height-699px h2 {
        margin: 40px 0 0 0;
        font-size: 2rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-height-699px p {
        margin: 20px 0 0 0;
    }

    .div-height-699px a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 26px 179px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .height-384 {
        height: 660px;
    }

    .height-1083 {
        height: 2020px;
    }

    .padding-left-20px-right-20px h2 {
        margin: 70px 0 0;
        font-size: 2.6rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .widht-504px {
        width: 290px;
        margin: 60px -10px auto;
    }

    .height-445 {
        height: 890px;
        color: #ffffff;
        background-color: #32064a;
    }

    .display-none {
        display: none;
    }

}
  
@media (min-width: 321px) and (max-width: 375px) {
    .div-espacamento-da-primeira-section {
        width: 327px;
        margin: 240px 0 85px auto;
        text-align: right;
        color: #ffffff;
    }

    .div-espacamento-da-primeira-section h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 55px 11px 0;
        font-weight: 400;
        font-size: 1.575rem;
        line-height: 1.1;
        font-family: Roboto,sans-serif;
    }

    .div-espacamento-da-primeira-section h1 {
        margin: 0 20px;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }    

    .div-espacamento-da-primeira-section h4 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1rem;
        margin: 20px 0px 0 0px;
        font-weight: 400;
        line-height: 1.2;
        font-family: Roboto,sans-serif;
        text-align: left;
    }

    .div-espacamento-da-primeira-section div {
        width: 165px;
        height: 20px;
        transform-origin: right center 0;
        margin: 30px auto 30px 0px;
        border-color: #fcd02c;
        border-width: 10px;
        border-style: solid;
    }

    .height-838 {
        height: 700px;
    }

    .padding-left-right {
        padding-left: 65px;
        padding-right: 20px;
    }

    .padding-left-right h2 {
        margin: -38px -50px 0;
        font-size: 2.8rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 322px;
    }

    .padding-left-right p {
        margin: 20px 0 20px;
        margin-left: -45px;
    }

    .padding-left-right a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.875rem;
        margin: 20px auto 65px 0;
        color: #ffffff !important;
        background-color: #e42c6a !important;
        text-decoration: none;
        padding: 10px;
        margin-left: -45px;
    }

    .background-color-amarelo {
        background-color: #fcd02c;
        height: 620px;
    }

    .background-image-segunda-section {
        height: 620px;
    }

    .padding-left-20px-right-96px img {
        width: 310px;
        height: 230px;
        margin: 23px -62px 0 auto;
    }

    .padding-left-20px-right-96px h2 {
        margin: 65px 0 0;
        font-size: 2.5rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 319px;
    }

    .background-color {
        color: #ffffff;
        background-color: #32064a;
        height: 665px;
    }

    .height-655 {
        height: 1905px;
    }

    .div-espacamento-terceira-section {
        padding-left: 25px;
        width: 350px;
        padding-top: 65px;
    }

    .div-espacamento-terceira-section h2 {
        margin: 20px 19px 30px 0;
        font-size: 2.2rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .background-color-salmao {
        color: #ffffff;
        background-color: #e42c6a;
        height: 500px;
    }

    .background-image-terceira-section {
        height: 1500px;
    }

    .height-784 {
        height: 1250px;
    }

    .height-449 {
        height: 530px;
    }

    .margin-top-165px {
        margin-top: 90px;
    }

    .background-color-col-da-quarta-section span {
        height: 64px;
        width: 64px;
        margin: 164px 45px 0 auto;
        padding: 10px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 25px;
    }

    .background-color-col-da-quarta-section {
        color: #ffffff;
        background-color: #32064a;
        text-align: right;
        height: 745px;
    }

    .background-color-col-da-quarta-section img {
        width: 260px;
        height: 237px;
        margin: 217px auto 0 29px;
        object-fit: contain;
        position: relative;
        opacity: 0.15;
        margin-right: 60px;
    }

    .background-color-col-da-quarta-section h2 {
        margin: -433px 40px 25px 29px;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .background-color-col-da-quarta-section a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 18px 40px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .height-897 {
        height: 1805px;
    }

    .padding-left-82px-right-20px {
        padding-left: 15px;
        padding-right: 20px;
    }

    .padding-left-82px-right-20px h2 {
        margin: 75px 0 0;
        font-size: 2.5rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .padding-left-82px-right-20px img {
        width: 350px;
        height: 280px;
        margin: 46px auto 0 -15px;
    }

    .background-color-amarelo-quinta-section {
        background-color: #fcd02c;
        height: 755px;
    }

    .div-height-699px span {
        height: 64px;
        width: 64px;
        margin: 205px auto 0 0;
        padding: 10px;
        color: #32064a !important;
        border-color: #32064a;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 30px;
        padding-left: 19px;
        padding-top: 8px;
    }

    .div-height-699px {
        height: 630px;
        padding-left: 15px;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .div-height-699px h2 {
        margin: 40px 0 0 0;
        font-size: 2.3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-height-699px p {
        margin: 20px 15px 0px 0;
    }

    .div-height-699px a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 26px 227px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .height-384 {
        height: 760px;
    }

    .height-1083 {
        height: 2145px;
    }

    .padding-left-20px-right-20px h2 {
        margin: 70px 0 0;
        font-size: 2.6rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .widht-504px {
        width: 350px;
        margin: 60px -10px auto;
    }

    .height-445 {
        height: 840px;
        color: #ffffff;
        background-color: #32064a;
    }

    .margin-left-380 {
        margin-left: 8px;
        margin-top: 60px;
        display: flex;
    }

    .tag-a-footer span {
        font-size: 0.7rem;
    }

    .tag-p-footer-2 span {
        font-size: 0.7rem;
    }

}
  
@media (min-width:  376px) and (max-width: 576px) {   
    .div-espacamento-da-primeira-section {
        width: 377px;
        margin: 240px 0 85px auto;
        text-align: right;
        color: #ffffff;
    }

    .div-espacamento-da-primeira-section h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 55px 20px 0;
        font-weight: 400;
        font-size: 1.675rem;
        line-height: 1.1;
        font-family: Roboto,sans-serif;
    }

    .div-espacamento-da-primeira-section h1 {
        margin: 0 20px;
        font-size: 5rem;
        line-height: 1.1;
        margin-top: 20px;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-espacamento-da-primeira-section h4 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.125rem;
        margin: 20px 0px 0 30px;
        font-weight: 400;
        line-height: 1.2;
        font-family: Roboto,sans-serif;
        text-align: left;
    }

    .height-838 {
        height: 730px;
    }

    .padding-left-right h2 {
        margin: -38px -50px 0;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 345px;
    }

    .padding-left-right p {
        margin: 20px 0 20px;
        margin-left: -45px;
    }

    .padding-left-right a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.875rem;
        margin: 20px auto 65px 0;
        color: #ffffff !important;
        background-color: #e42c6a !important;
        text-decoration: none;
        padding: 10px;
        margin-left: -45px;
    }

    .background-color-amarelo {
        background-color: #fcd02c;
        height: 620px;
    }

    .background-image-segunda-section {
        height: 620px;
    }

    .padding-left-20px-right-96px h2 {
        margin: 65px 0 0;
        font-size: 2.7rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 345px;
    }

    .background-color {
        color: #ffffff;
        background-color: #32064a;
        height: 635px;
    }

    .height-655 {
        height: 1875px;
    }

    .background-color-salmao {
        color: #ffffff;
        background-color: #e42c6a;
        height: 715px;
    }

    .background-image-terceira-section {
        height: 1500px;
    }

    .height-784 {
        height: 1500px;
    }

    .height-449 {
        height: 530px;
    }

    .margin-top-165px {
        margin-top: 90px;
    }

    .background-color-col-da-quarta-section span {
        height: 64px;
        width: 64px;
        margin: 164px 45px 0 auto;
        padding: 10px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 25px;
    }

    .background-color-col-da-quarta-section {
        color: #ffffff;
        background-color: #32064a;
        text-align: right;
        height: 680px;
    }

    .background-color-col-da-quarta-section img {
        width: 300px;
        height: 237px;
        margin: 217px auto 0 29px;
        object-fit: contain;
        position: relative;
        opacity: 0.15;
        margin-right: 60px;
    }

    .background-color-col-da-quarta-section h2 {
        margin: -433px 40px 25px 29px;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .background-color-col-da-quarta-section a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 18px 40px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .height-897 {
        height: 1740px;
    }

    .padding-left-82px-right-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-left-82px-right-20px h2 {
        margin: 75px 0 0;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .padding-left-82px-right-20px img {
        width: 420px;
        height: 300px;
        margin: 46px auto 0 -30px;
    }

    .background-color-amarelo-quinta-section {
        background-color: #fcd02c;
        height: 835px;
    }

    .div-height-699px span {
        height: 64px;
        width: 64px;
        margin: 213px auto 0 0;
        padding: 10px;
        color: #32064a !important;
        border-color: #32064a;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 30px;
        padding-left: 19px;
        padding-top: 8px;
    }

    .div-height-699px h2 {
        margin: 40px 18px 0 0;
        font-size: 2.6rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-height-699px p {
        margin: 20px 0px 0 0;
    }

    .div-height-699px a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 26px 272px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .div-height-699px {
        height: 645px;
        padding-left: 20px;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .height-384 {
        height: 800px;
    }

    .height-1083 {
        height: 2280px;
    }

    .widht-504px {
        width: 350px;
        margin: 60px 10px auto;
    }

    .height-445 {
        height: 840px;
        color: #ffffff;
        background-color: #32064a;
    }

    .margin-left-380 {
        margin-left: 10px;
        margin-top: 60px;
        display: flex;
    }

}
  
@media (min-width: 577px) and (max-width: 768px) {
    .div-espacamento-da-primeira-section {
        width: 696px;
        margin: 350px 0 85px auto;
        text-align: right;
        color: #ffffff;
    }

    .padding-left-right img {
        width: 310px;
        height: 237px;
        margin: 85px auto 0 -45px;
    }

    .background-color-amarelo {
        background-color: #fcd02c;
        height: 595px;
    }

    .padding-left-right p {
        margin: 20px 0 45px;
        margin-left: -25px;
    }

    .background-image-segunda-section {
        height: 595px;
    }

    .padding-left-20px-right-96px p {
        margin: 20px 0 30px;
    }

    .background-color {
        color: #ffffff;
        background-color: #32064a;
        height: 595px;
    }

    .padding-left-20px-right-96px img {
        width: 352px;
        height: 237px;
        margin: 70px -70px 0 auto;
        position: absolute;
        margin-left: -125px;
    }

    .height-655 {
        height: 1785px;
    }

    .div-espacamento-terceira-section {
        padding-left: 25px;
        width: 590px;
        padding-top: 65px;
    }

    .background-color-salmao {
        color: #ffffff;
        background-color: #e42c6a;
        height: 500px;
    }

    .background-image-terceira-section {
        height: 1078px;
    }

    .div-opacity-1 {
        color: white;
        background-color: red;
        opacity: 1;
    }

    .height-784 {
        height: 1225px;
    }

    .background-color-col-da-quarta-section {
        color: #ffffff;
        background-color: #32064a;
        text-align: left;
        height: 445px;
    }

    .background-color-col-da-quarta-section a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 18px 84px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
        margin-left: 35px;
    }

    .background-color-col-da-quarta-section span {
        height: 64px;
        width: 64px;
        margin: 164px 84px 0 auto;
        padding: 10px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 25px;
        margin-left: 30px;
    }

    .margin-top-165px {
        margin-top: -190px;
    }    

    .background-color-col-da-quarta-section h2 {
        margin: -250px 84px 25px 29px;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .background-color-col-da-quarta-section img {
        width: 335px;
        height: 237px;
        margin: 335px auto 0 29px;
        object-fit: contain;
        position: relative;
        opacity: 0.15;
        margin-right: 60px;
    }

    .height-897 {
        height: 2315px;
    }

    .height-449 {
        height: 935px;
    }

    .padding-left-82px-right-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-left-82px-right-20px h2 {
        margin: 60px 0 0;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .padding-left-82px-right-20px img {
        width: 520px;
        height: 300px;
        margin: 46px auto 0 75px;
    }

    .background-color-amarelo-quinta-section {
        background-color: #fcd02c;
        height: 715px;
    }

    .div-height-699px span {
        height: 64px;
        width: 64px;
        margin: 210px auto 0 0;
        padding: 10px;
        color: #32064a !important;
        border-color: #32064a;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 30px;
        padding-left: 19px;
        padding-top: 8px;
    }

    .height-1083 {
        height: 1675px;
    }

    .div-height-699px h2 {
        margin: 40px 28px 0 0;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-height-699px p {
        margin: 20px 30px 0 0;
    }

    .div-height-699px a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 26px 615px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .div-height-699px {
        height: 575px;
        padding-left: 20px;
        justify-content: center;
        display: flex !important;
        flex-direction: column;
    }

    .widht-504px {
        width: 504px;
        margin: 60px 80px auto;
    }

    .height-445 {
        height: 795px;
        color: #ffffff;
        background-color: #32064a;
    }

    .margin-left-380 {
        margin-left: 170px;
        margin-top: 60px;
        display: flex;
    }

}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {
    .padding-left-right {
        padding-left: 50px;
        padding-right: 20px;
    }

    .padding-left-right h2 {
        margin: -38px -45px 0;
        font-size: 2.7rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .padding-left-right p {
        margin: 20px 0 20px;
        margin-left: -40px;
    }

    .padding-left-right a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.875rem;
        margin: 20px auto 65px 0;
        color: #ffffff !important;
        background-color: #e42c6a !important;
        text-decoration: none;
        padding: 10px;
        margin-left: -40px;
    }

    .padding-left-20px-right-96px h2 {
        margin: 65px 0 0;
        font-size: 2.2rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        width: 281px;
    }

    .padding-left-20px-right-96px img {
        width: 280px;
        height: 237px;
        margin: 24px -60px 0 auto;
    }

    .height-655 {
        height: 680px;
    }

    .div-espacamento-terceira-section {
        padding-left: 25px;
        width: 310px;
        padding-top: 65px;
    }

    .div-espacamento-terceira-section h2 {
        margin: 20px 19px 30px 0;
        font-size: 2.5rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .background-color-col-da-quarta-section h2 {
        margin: -433px 30px 25px 29px;
        font-size: 2.7rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .background-color-col-da-quarta-section span {
        height: 64px;
        width: 64px;
        margin: 164px 35px 0 auto;
        padding: 10px;
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        font-size: 25px;
    }

    .background-color-col-da-quarta-section img {
        width: 240px;
        height: 237px;
        margin: 217px auto 0 29px;
        object-fit: contain;
        position: relative;
        opacity: 0.15;
        margin-right: 60px;
    }

    .background-color-col-da-quarta-section a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 18px 30px 218px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .padding-left-82px-right-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-left-82px-right-20px img {
        width: 470px;
        height: 300px;
        margin: 46px auto 0 -20px;
    }

    .div-height-699px h2 {
        margin: 40px 20px 0 0;
        font-size: 3rem;
        line-height: 1.1;
        font-family: Roboto Slab, serif;
        font-weight: 700;
    }

    .div-height-699px a {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 26px 359px 200px auto;
        color: #ffffff;
        background-color: #e42c6a;
        padding: 12px;
        text-decoration: none;
    }

    .widht-504px {
        width: 455px;
        margin: 60px auto;
    }

    .margin-left-380 {
        margin-left: 300px;
        margin-top: 60px;
        display: flex;
    }

}
  
@media (min-width: 1201px) {
    
}